.formacao__item {
    background-color: #ffffff;
    width: 21.5rem;
    height: 17.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 0;
}

@media screen and (max-width: 768px) {
    .formacao__item{
        width: 14rem;
        height: 8.8rem;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
}

